<a href="https://colab.research.google.com/github/RachanaShuklaGitAccount/RachanaShuklaGitAccount/blob/main/Unit3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str =  """ Welcome to Python programming
We discuss all important concepts of Python
In a easy manner. """
print (str)

 Welcome to Python programming
We discuss all important concepts of Python
In a easy manner.

In [ ]:
s1 = 'Welcome to “Python” programming'
print(s1)

s1 = "Welcome to ‘Python’ programming"
print(s1)

Welcome to “Python” programming
Welcome to ‘Python’ programming

In [ ]:
s1 = 'Welcome to \t "Python" \t programming'
print(s1)
s1 = 'Welcome to \n"Python" \n programming'
print(s1)

Welcome to 	 "Python" 	 programming
Welcome to
"Python"
 programming

In [ ]:
#Accessing string characters in Python
str = 'programming'
print('str = ', str)

#first character
print('str[0] = ', str[0])

#last character
print('str[-1] = ', str[-1])

#slicing 2nd to 5th character
print('str[1:5] = ', str[1:5])

#slicing 6th to 2nd last character
print('str[5:-2] = ', str[5:-2])

str =  programming
str[0] =  p
str[-1] =  g
str[1:5] =  rogr
str[5:-2] =  ammi

In [ ]:
# Python program to demonstrate
# string slicing
# String slicing
String ='ASTRING'

# Using slice constructor
s1 = slice(3)
s2 = slice(0, 7, 3)
s3 = slice(-1, -12, -2)

print("String slicing")
print(String[s1])
print(String[s2])
print(String[s3])

String slicing
AST
ARG
GITA

In [ ]:
# Python program to demonstrate
# string slicing
# String slicing
String ='ASTRING'
# Using indexing sequence
print(String[0:3])
print(String[1:5:2])
print(String[-1:-12:-2])

# Prints string in reverse
print("\nReverse String")
print(String[::-1])

AST
SR
GITA

Reverse String
GNIRTSA

In [ ]:
# Python program to demonstrate the use of
# len() method

# Length of below string is 5
s= "Python"
print(len(s))

# Length of below string is 15
string = "Python Programming"
print(len(string))

6
18

In [ ]:
print(len("HEllo"))

5

In [ ]:
# Python program to demonstrate
# string concatenation
# Defining strings
var1 = "Hello "
var2 = "World"

# + Operator is used to combine strings
var3 = var1 + var2
print(var3)

Hello World

In [ ]:
# Python program to demonstrate
# string concatenation
var1 = "Hello"
var2 = "World"
var4="Python"
var5="programming"

# join() method is used to combine the strings
print("".join([var1, var2]))

# join() method is used here to combine
# the string with a separator Space(" ")
var3 = " *** ".join([var1, var2])

print(var3)
var3=" ".join([var1,var2,var4,var5])
print(var3)

HelloWorld
Hello *** World
Hello World Python programming

In [ ]:
# Python program to demonstrate
# string concatenation

var1 = "Hello"
var2 = "World"
var3 = "Python"

# % Operator is used here to combine the string
print("% s , % s , % s" % (var1, var2, var3))

Hello , World , Python

In [ ]:
# Python program to illustrate
# string center() in python
string = "Center Example"

new_string = string.center(30)

# here filchar not provided so takes space by default.
print("After padding String is: ", new_string)
string1 = " Center Example "
  
new_string1 = string1.center(50, '*')
  
# here fillchar is provided
print("After padding String is:", new_string1)

After padding String is:          Center Example
After padding String is: ***************** Center Example *****************

In [ ]:
mystr = 'Count Example in Python'

total = mystr.count('o')
print('Number of occurrences of "Python":', total)

total = mystr.count('Python')
print('Number of occurrences of "python":', total)

Number of occurrences of "Python": 2
Number of occurrences of "python": 1

In [ ]:
# pythin program to demonstrate the use of
# max() function

# maximum alphabetical character in
# "python"
string = "python"
print(max(string))

# maximum alphabetical character in
# "raj"
string = "raj"
print(max(string))

y
r

In [ ]:
# python program to demonstrate the use of
# min() function

# minimum alphabetical character in
# "python"
string = "python"
print(min(string))

# minimum alphabetical character in
# "raj"
string = "raj"
print(min(string))

h
a

In [ ]:
# Python3 program to demonstrate the
# use of replace() method

str = "Python is easy, C is programming, We learn C,C,C,C"
# Prints the string by replacing all
# C by Python
print(str.replace("C","python"))
# Prints the string by replacing only
# 3 occurrence of C
print(str.replace("C","Python",3))

Python is easy, python is programming, We learn python,python,python,python
Python is easy, Python is programming, We learn Python,Python,C,C

In [ ]:
# Python3 program to show the
# working of lower() function
text = 'Python FOR PROGRAMMING'

print("Original String:")
print(text)

# lower() function to convert
# string to lower_case
print("\nConverted String:")
print(text.lower())

Original String:
Python FOR PROGRAMMING

Converted String:
python for programming

In [ ]:
# Python3 program to show the
# working of upper() function
text = 'Python For Programming'

print("Original String:")
print(text)

# upper() function to convert
# string to upper_case
print("\nConverted String:")
print(text.upper())

Original String:
Python For Programming

Converted String:
PYTHON FOR PROGRAMMING

In [ ]:
text = 'Python in Jupyter Lab'

# Splits at space
print(text.split())

word = ' Python in, Jupyter, Lab '

# Splits at ','
print(word.split(','))

word = ' Python : in : Jupyter : Lab '

# Splitting at ':'
print(word.split(':'))

word = 'CatBatSatFatOr'

# Splitting at t
print(word.split('t'))

['Python', 'in', 'Jupyter', 'Lab']
[' Python in', ' Jupyter', ' Lab ']
[' Python ', ' in ', ' Jupyter ', ' Lab ']
['Ca', 'Ba', 'Sa', 'Fa', 'Or']

In [ ]:
val1 = 2
val2 = 3
res = val1 + val2
print(res)
res = val1 - val2
print(res)
res = val1 * val2
print(res)
res = val1 / val2
print(res)
res = val1 % val2
print(res)
res = val1 ** val2
print(res)
res = val1 // val2
print(res)

5
-1
6
0.6666666666666666
2
8
0

In [ ]:
a = 21
b = 10
c = 0

c = a + b
print("Line 1 - Value of c is ", c)

c += a
print("Line 2 - Value of c is ", c )

c *= a
print("Line 3 - Value of c is ", c )

c /= a 
print("Line 4 - Value of c is ", c )

c  = 2
c %= a
print("Line 5 - Value of c is ", c)
a=5
c **= a
print("Line 6 - Value of c is ", c)

c //= a
print("Line 7 - Value of c is ", c)

Line 1 - Value of c is  31
Line 2 - Value of c is  52
Line 3 - Value of c is  1092
Line 4 - Value of c is  52.0
Line 5 - Value of c is  2
Line 6 - Value of c is  32
Line 7 - Value of c is  6

In [ ]:
a = 21
b = 10
c = 0

if ( a == b ):
   print ("Line 1 - a is equal to b")
else:
   print ("Line 1 - a is not equal to b")

if ( a != b ):
   print ("Line 2 - a is not equal to b")
else:
   print ("Line 2 - a is equal to b")

if ( a < b ):
   print ("Line 4 - a is less than b" )
else:
   print ("Line 4 - a is not less than b")

if ( a > b ):
   print ("Line 5 - a is greater than b")
   print("Inside if")
else:
   print ("Line 5 - a is not greater than b")

a = 5;
b = 20;
if ( a <= b ):
   print ("Line 6 - a is either less than or equal to  b")
else:
   print ("Line 6 - a is neither less than nor equal to  b")

if ( b >= a ):
   print ("Line 7 - b is either greater than  or equal to a")
else:
   print ("Line 7 - b is neither greater than  nor equal to a")

Line 1 - a is not equal to b
Line 2 - a is not equal to b
Line 4 - a is not less than b
Line 5 - a is greater than b
Inside if
Line 6 - a is either less than or equal to  b
Line 7 - b is either greater than  or equal to a

In [ ]:
a =5
b=8
c=15
if ((a>b)and(a>c)):
  print("A is highest", a)
elif((b>a)and(b>c)):
  print("B is highest ",b)
else:
  print("C is highest",c)

C is highest 15

In [ ]:
a = 10
b = 20
list = [1, 2, 3, 4, 5 ];
if ( a in list ):
   print ("Line 1 - a is available in the given list")
else:
   print ("Line 1 - a is not available in the given list")

if ( b not in list ):
   print ("Line 2 - b is not available in the given list")
else:
   print ("Line 2 - b is available in the given list")
a = 2
if ( a in list ):
   print ("Line 3 - a is available in the given list")
else:
   print ("Line 3 - a is not available in the given list")

Line 1 - a is not available in the given list
Line 2 - b is not available in the given list
Line 3 - a is available in the given list

In [ ]:
a = 20
b = 20
if ( a is b ):
   print ("Line 1 - a and b have same identity")
else:
   print ("Line 1 - a and b do not have same identity")
if ( id(a) == id(b) ):
   print ("Line 2 - a and b have same identity")
else:
   print ("Line 2 - a and b do not have same identity")
b = 30
if ( a is b ):
   print ("Line 3 - a and b have same identity")
else:
   print ("Line 3 - a and b do not have same identity")
if ( a is not b ):
   print ("Line 4 - a and b do not have same identity")
else:
   print ("Line 4 - a and b have same identity")

Line 1 - a and b have same identity
Line 2 - a and b have same identity
Line 3 - a and b do not have same identity
Line 4 - a and b do not have same identity