<a href="https://colab.research.google.com/github/RachanaShuklaGitAccount/RachanaShuklaGitAccount/blob/main/Unit4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i = 20
if (i > 15):
	print ("20 is grater than 15")
print ("I am Not in if")

20 is grater than 15
I am Not in if

In [ ]:
A=30;
B=20;
if (A>B):
	print ("A is Greater than B")
	print ("i'm in if Block")
else:
	print ("B is Greater than A")
	print ("i'm in else Block")
print ("i'm not in if and not in else Block")

B is Greater than A
i'm in else Block
i'm not in if and not in else Block

In [ ]:
i=22
if (i == 10):
	print ("i is 10")
elif (i == 15):
	print ("i is 15")
elif (i == 22):
	print ("i is 22")
else:
	print ("i is not present")

i is not present

In [ ]:
i = 14
if (i == 10):
	# First if statement
	if (i < 15):
		print ("i is smaller than 15")
	# Nested - if statement
	# Will only be executed if statement above
	# it is true
	if (i < 12): print ("i is smaller than 12 too")
	else: print ("i is greater than 12")

In [ ]:
i = 10
if (i == 10):
	# First if statement
	if (i < 15):
		print ("i is smaller than 15")
	# Nested - if statement
	# Will only be executed if statement above
	# it is true
	print ("i is smaller than 12 too") if (i < 12) else	print ("i is greater than 12")

i is smaller than 15
i is smaller than 12 too

In [ ]:
# Python program to illustrate
# while loop
count = 0
while (count < 3):	
	count = count + 1
	print("Hello")

Hello
Hello
Hello

In [ ]:
# Prints all letters except 'e' and 's'
i = 0
a = 'Hello Students'

while i < len(a):
	if a[i] == 'e' or a[i] == 's':
		i += 1
		continue
	print('Current Letter :', a[i])
	i += 1

Current Letter : H
Current Letter : l
Current Letter : l
Current Letter : o
Current Letter :
Current Letter : S
Current Letter : t
Current Letter : u
Current Letter : d
Current Letter : n
Current Letter : t

In [ ]:
i = 0
a = 'Hello Students'

while i < len(a):
	if a[i] == 'e' or a[i] == 's':
		i += 1
		break
	print('Current Letter :', a[i])
	i += 1

Current Letter : H

In [ ]:
# An empty loop
a = 'Hello Students'
i = 0

while i < len(a):
	i += 1
	pass
print('Value of i :', i)

Value of i : 14

In [ ]:
# Program to find the sum of all numbers stored in a list
# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
# variable to store the sum
sum = 0
# iterate over the list
for val in numbers:
    sum = sum+val
print("The sum is", sum)

In [ ]:
# Python program to illustrate
# Iterating over a list
print("List Iteration")
l = ["C", "Java", "Python"]
for i in l:
	print(i)
	
# Iterating over a tuple (immutable)
print("\nTuple Iteration")
t = ("C", "Java", "Python")
for i in t:
	print(i)
	
# Iterating over a String
print("\nString Iteration")
s = "Python"
for i in s :
	print(i)
	
# Iterating over dictionary
print("\nDictionary Iteration")
d = dict()
d['xyz'] = 123
d['abc'] = 345
for i in d :
	print("%s %d" %(i, d[i]))

List Iteration
C
Java
Python

Tuple Iteration
C
Java
Python

String Iteration
P
y
t
h
o
n

Dictionary Iteration
xyz 123
abc 345

In [ ]:
print(range(10))
print(list(range(10)))
print(list(range(2, 8)))
print(list(range(2, 20, 3)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7]
[2, 5, 8, 11, 14, 17]

In [ ]:
# Program to iterate through a list using indexing
name = ['Dhyey', 'Trisha', 'Vriha']

# iterate over the list using index
for i in range(len(name)):
    print("I am", name[i])

I am Dhyey
I am Trisha
I am Vriha

In [ ]:
# Python program to illustrate
# combining else with for

list = ["C", "Java", "Python"]
for index in range(len(list)):
	print (list[index])
else:
	print("Inside Else Block")

C
Java
Python
Inside Else Block

In [ ]:
# Python program to illustrate
# nested for loops in Python
from __future__ import print_function
for i in range(1, 5):
	for j in range(i):
		print(i, end=' ')
	print()

1
2 2
3 3 3
4 4 4 4

In [ ]:
# Python program to demonstrate
# Creation of List
List1 = []
print("Blank List: ")
print(List1)

# Creating a List of numbers
List = [10, 20, 14]
print("\nList of numbers: ")
print(List[0])

# Creating a List of strings and accessing
# using index
List = ["BCA", "BBA", "BCom"]
print("\nList Items: ")
print(List[0])
print(List[2])
print(List)

# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['BCA', 'BBA'] , ['DolatUsha']]
print("\nMulti-Dimensional List: ")
print(List)
print(List[1][0])

Blank List:
[]

List of numbers:
10

List Items:
BCA
BCom
['BCA', 'BBA', 'BCom']

Multi-Dimensional List:
[['BCA', 'BBA'], ['DolatUsha']]
DolatUsha

In [ ]:
# Creating a List
List1 = []
print(len(List1))
  
# Creating a List of numbers
List2 = [10, 20, 14]
print(len(List2))

0
3

In [ ]:
# Python program to demonstrate 
# Addition of elements in a List
  
# Creating a List
List = []
print("Initial blank List: ")
print(List)
  
# Addition of Elements 
# in the List
List.append(1)
List.append(2)
List.append(4)
print("\nList after Addition of Three elements: ")
print(List)
  
# Adding elements to the List
# using Iterator
for i in range(1, 4):
    List.append(i)
print("\nList after Addition of elements from 1-3: ")
print(List)
  
# Addition of List to a List
List2 = ['DolatUsha', 'FYBCA']
List.append(List2)
print("\nList after Addition of a List: ")
print(List)

Initial blank List:
[]

List after Addition of Three elements:
[1, 2, 4]

List after Addition of elements from 1-3:
[1, 2, 4, 1, 2, 3]

List after Addition of a List:
[1, 2, 4, 1, 2, 3, ['DolatUsha', 'FYBCA']]

In [ ]:
# Python program to demonstrate
# Addition of elements in a List
# Creating a List
List = [1,2,3,4]
print("Initial List: ")
print(List)
# Addition of Element at
# specific Position
# (using Insert Method)
List.insert(3, 12)
List.insert(0, 'BCA')
print("\nList after performing Insert Operation: ")
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Insert Operation:
['BCA', 1, 2, 3, 12, 4]

In [ ]:
# Python program to demonstrate
# Addition of elements in a List
# Creating a List
List = [1,2,3,4]
print("Initial List: ")
print(List)

# Addition of multiple elements
# to the List at the end
# (using Extend Method)
List.extend([8, 'BCA', 'BEST'])
print("\nList after performing Extend Operation: ")
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Extend Operation:
[1, 2, 3, 4, 8, 'BCA', 'BEST']

In [ ]:
# Python program to demonstrate
# accessing of element from list

# Creating a List with
# the use of multiple values
List = ["Disha", "Kunj", "Prisha"]

# accessing a element from the
# list using index number
print("Accessing a element from the list")
print(List[0])
print(List[2])

# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['Disha', 'Prisha'] , ['Kunj']]

# accessing an element from the
# Multi-Dimensional List using
# index number
print("Acessing a element from a Multi-Dimensional list")
print(List[0][1])
print(List[1][0])

Accessing a element from the list
Disha
Prisha
Acessing a element from a Multi-Dimensional list
Prisha
Kunj

In [ ]:
List = [1, 2, 'abc', 4, 'pqr', 6, 'xyz']

# accessing a element using
# negative indexing
print("Accessing element using negative indexing")

# print the last element of list
print(List[-1])

# print the third last element of list
print(List[-3])

Accessing element using negative indexing
xyz
pqr

In [ ]:
# Python program to demonstrate 
# Removal of elements in a List
  
# Creating a List
List = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
print("Intial List: ")
print(List)
  
# Removing elements from List
# using Remove() method
List.remove(5)
List.remove(6)
print("\nList after Removal of two elements: ")
print(List)
  
# Removing elements from List
# using iterator method
for i in range(1, 5):
    List.remove(i)
print("\nList after Removing a range of elements: ")
print(List)

Intial List:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

List after Removal of two elements:
[1, 2, 3, 4, 7, 8, 9, 10, 11, 12]

List after Removing a range of elements:
[7, 8, 9, 10, 11, 12]

In [ ]:
List = [1,2,3,4,5]
  
# Removing element from the 
# List using the pop() method
List.pop()
print("\nList after popping an element: ")
print(List)
  
# Removing element at a 
# specific location from the 
# Set using the pop() method
List.pop(2)
print("\nList after popping a specific element: ")
print(List)

List after popping an element:
[1, 2, 3, 4]

List after popping a specific element:
[1, 2, 4]

In [ ]:
# Python program to demonstrate 
# Removal of elements in a List
  
# Creating a List
List = ['P','Y','T','H','O','N','P','R','O','G','R','A','M']
print("Intial List: ")
print(List)
  
# Print elements of a range
# using Slice operation
Sliced_List = List[3:8]
print("\nSlicing elements in a range 3-8: ")
print(Sliced_List)
  
# Print elements from a 
# pre-defined point to end
Sliced_List = List[5:]
print("\nElements sliced from 5th "
      "element till the end: ")
print(Sliced_List)
  
# Printing elements from
# beginning till end
Sliced_List = List[:5]
print("\nPrinting all elements using slice operation: ")
print(Sliced_List)

Intial List:
['P', 'Y', 'T', 'H', 'O', 'N', 'P', 'R', 'O', 'G', 'R', 'A', 'M']

Slicing elements in a range 3-8:
['H', 'O', 'N', 'P', 'R']

Elements sliced from 5th element till the end:
['N', 'P', 'R', 'O', 'G', 'R', 'A', 'M']

Printing all elements using slice operation:
['P', 'Y', 'T', 'H', 'O']

In [ ]:
# Creating a List
List = ['P','Y','T','H','O','N','P','R','O','G','R','A','M']
print("Initial List: ")
print(List)
  
# Print elements from beginning
# to a pre-defined point using Slice
Sliced_List = List[:-6]
print("\nElements sliced till 6th element from last: ")
print(Sliced_List)
  
# Print elements of a range
# using negative index List slicing
Sliced_List = List[-6:-1]
print("\nElements sliced from index -6 to -1")
print(Sliced_List)
  
# Printing elements in reverse
# using Slice operation
Sliced_List = List[::-1]
print("\nPrinting List in reverse: ")
print(Sliced_List)

Initial List:
['P', 'Y', 'T', 'H', 'O', 'N', 'P', 'R', 'O', 'G', 'R', 'A', 'M']

Elements sliced till 6th element from last:
['P', 'Y', 'T', 'H', 'O', 'N', 'P']

Elements sliced from index -6 to -1
['R', 'O', 'G', 'R', 'A']

Printing List in reverse:
['M', 'A', 'R', 'G', 'O', 'R', 'P', 'N', 'O', 'H', 'T', 'Y', 'P']

In [ ]:
# Python program to clear a list
# using clear() method 
# Creating list
list = [6, 0, 4, 1]
print('List before clear:', list) 
  
# Clearing list 
list.clear() 
print('List after clear:', list)

List before clear: [6, 0, 4, 1]
List after clear: []

In [ ]:
# mixed list
my_list = ['cat', 0, 6.7]
# copying a list
new_list = my_list.copy()
print('Copied List:', new_list)
# Adding an element to the new list
new_list.append('dog')
# Printing new and old list
print('Old List:', my_list)
print('New List:', new_list)

Copied List: ['cat', 0, 6.7]
Old List: ['cat', 0, 6.7]
New List: ['cat', 0, 6.7, 'dog']

In [ ]:
# Python3 program to count the number of times
# an object appears in a list using count() method

list1 = [1, 1, 1, 2, 3, 2, 1]

# Counts the number of times 1 appears in list1
print(list1.count(1))

list2 = ['a', 'a', 'a', 'b', 'b', 'a', 'c', 'b']

# Counts the number of times 'b' appears in list2
print(list2.count('b'))

list3 = ['Cat', 'Bat', 'Sat', 'Cat', 'cat', 'Mat']

# Counts the number of times 'Cat' appears in list3
print(list3.count('Cat'))

4
3
2

In [ ]:
# Python3 program for demonstration
# of list index() method
list1 = [1, 2, 3, 4, 1, 1, 1, 4, 5]
# Will print the index of '4' in list1
print(list1.index(4))
list2 = ['cat', 'bat', 'mat', 'cat', 'pet']
# Will print the index of 'cat' in list2
print(list2.index('cat'))

3
0

In [ ]:
# Python3 program to demonstrate the
# use of reverse method
# a list of numbers
list1 = [1, 2, 3, 4, 1, 2, 6]
list1.reverse()
print(list1)

# a list of characters
list2 = ['a', 'b', 'c', 'd', 'a', 'a']
list2.reverse()
print(list2)

[6, 2, 1, 4, 3, 2, 1]
['a', 'a', 'd', 'c', 'b', 'a']

In [ ]:
numbers = ["abc", "aaa", "abb", "bbb"]
# Sorting list of Integers in ascending
numbers.sort()
print(numbers)

['aaa', 'abb', 'abc', 'bbb']

In [ ]:
numbers = [1, 3, 4, 2]
 # Sorting list of Integers in descending
numbers.sort(reverse = True)
print(numbers)

[4, 3, 2, 1]