<a href="https://colab.research.google.com/github/RachanaShuklaGitAccount/RachanaShuklaGitAccount/blob/main/Unit2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Declare a variable and initialize it  
x = 101  
  
# Global variable in function  
def mainFunction():  
    # printing a global variable  
    global x  
    print(x)  
    # modifying a global variable  
    x = 'Welcome To BCA'  
    print(x)  
  
mainFunction()  
print(x)

101
Welcome To BCA
Welcome To BCA

In [ ]:
a=input("Enter no1 : ")
b=input("Enter no2 : ")
c=float(a)+float(b)
print(c)

Enter no1 : 3.5
Enter no2 : 2.5
3.52.5

In [ ]:
l=input("Enter value of L : ")
b= input("Enter value of b : ")
area=float(l)*float(b)
print(area)

Enter value of L : 3.5
Enter value of b : 2
7.0

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
print("assigning values of different datatypes")
a, b, c, d = 4, "BCA", 3.14, True
print(a)
print(b)
print(c)
print(d)

assigning values of different datatypes
4
BCA
3.14
True

In [ ]:
# Python program to
# demonstrate numeric value
a = 0o144
print(a)
print("Type of a: ", type(a))
b = 5.0
print("\nType of b: ", type(b))
c = 2 + 4j
print("\nType of c: ", type(c))

100
Type of a:  <class 'int'>

Type of b:  <class 'float'>

Type of c:  <class 'complex'>

In [ ]:
# Python Program for
# Creation of String
	
# Creating a String
# with single Quotes
String1 = 'We learn python programming'
print("String with the use of Single Quotes: ")
print(String1)
	
# Creating a String
# with double Quotes
String1 = "I'm learning python"
print("\nString with the use of Double Quotes: ")
print(String1)
print(type(String1))
	
# Creating a String
# with triple Quotes
String1 = '''I'm learning "python"'''
print("\nString with the use of Triple Quotes: ")
print(String1)
print(type(String1))

string1='"Rachana"'
print(string1)

# Creating String with triple
# Quotes allows multiple lines
String1 = '''Welcome
			to
			BCA'''
print("\nCreating a multiline String: ")
print(String1)

String with the use of Single Quotes:
We learn python programming

String with the use of Double Quotes:
I'm learning python
<class 'str'>

String with the use of Triple Quotes:
I'm learning "python"
<class 'str'>
"Rachana"

Creating a multiline String:
Welcome
			to
			BCA

In [ ]:
# Python Program to Access
# characters of String
	
String1 = "Programming Skills"
print("Initial String: ")
print(String1)
	
# Printing First character
print("\nFirst character of String is: ")
print(String1[0])
	
# Printing Last character
print("\nLast character of String is: ")
print(String1[-1])
print(String1[3:7])
print(String1[3:])
print(String1[:5])
print(String1[5:8])

Initial String:
Programming Skills

First character of String is:
P

Last character of String is:
s
gram
gramming Skills
Progr
amm

In [ ]:
# Python program to
# demonstrate boolean type

print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
num_int = 123
num_flo = 1.23
num_new = num_int + num_flo
print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))
print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

In [ ]:
num_int = "123"
num_str = "456"
print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))
print(num_int+num_str)

Data type of num_int: <class 'str'>
Data type of num_str: <class 'str'>
123456

In [ ]:
num_int = 123
num_str = "456"
print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))
num_sum = num_int + num_str
print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>

In [ ]:
# Python program to
# demonstrate functions
# Declaring a function
def fun():
	print("Inside function")

# Driver's code
# Calling function
fun()

Inside function

In [ ]:
def sum(a,b):
   total = a + b
   return total

x = 10
y = 20

print("The sum of",x,"and",y,"is:",sum(x, y))

The sum of 10 and 20 is: 30

In [ ]:
# Python program to demonstrate
# default arguments
def myFun(x, y=50):
	print("x: ", x)
	print("y: ", y)
	
# Driver code (We call myFun() with only
# argument)
myFun(10,20)

x:  10
y:  20

In [ ]:
def sum(a,b):
   total = a + b
   return total
x = 10
y = 20
print("The sum of",x,"and",y,"is:",sum(x, y))

In [ ]:
a=input("Enter 1st number")
b=input("Enter 2nd number")
c=int(a)+int(b)
print("\n First number is "+a)
print("\n Second number is " + b)
print("\n Sum is " )
print(c)

Enter 1st number5
Enter 2nd number8

 First number is 5

 Second number is 8

 Sum is
13

In [ ]:
l=input("Enter Length")
b=input("Enter b")
area=int(l)*int(b)
print(area)

Enter Length3
Enter b4
12

In [ ]:
# Python Program for
# Creation of String
	
# Creating a String
# with single Quotes
String1 = 'We learn python programming'
print("String with the use of Single Quotes: ")
print(String1)
	
# Creating a String
# with double Quotes
String1 = "I'm learning python"
print("\nString with the use of Double Quotes: ")
print(String1)
print(type(String1))
	
# Creating a String
# with triple Quotes
String1 = '''I'm learning "python"'''
print("\nString with the use of Triple Quotes: ")
print(String1)
print(type(String1))

# Creating String with triple
# Quotes allows multiple lines
String1 = '''Welcome
			to
			BCA'''
print("\nCreating a multiline String: ")
print(String1)

String with the use of Single Quotes:
We learn python programming

String with the use of Double Quotes:
I'm learning python
<class 'str'>

String with the use of Triple Quotes:
I'm learning "python"
<class 'str'>

Creating a multiline String:
Welcome
			to
			BCA

In [ ]:
# Python Program to Access
# characters of String
	
String1 = "Programming Skills"
print("Initial String: ")
print(String1)
	
# Printing First character
print("\nFirst character of String is: ")
print(String1[0])
print(String1[1])
	
# Printing Last character
print("\nLast character of String is: ")
print(String1[-1])
print(String1[3:7])
print(String1[3:])
print(String1[:5])

Initial String:
Programming Skills

First character of String is:
P
r

Last character of String is:
s
gram
gramming Skills
Progr

In [ ]:
str = input("Enter string")
print(str[:5])

Enter stringandroidstudio
andro

In [ ]:
# Python program to
# demonstrate boolean type

print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
num_int = 123
num_str = "456"
print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))
s1= int(num_int)+int(num_str)
print(s1)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>
579

In [ ]:
num_int = 123
num_str = "456"
print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))
num_sum = num_int + num_str
print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>

In [ ]:
# Python program to
# demonstrate functions
# Declaring a function
def fun():
  print("Inside function")
  a=10
  b=5
  print(a+b)

# Driver's code
# Calling function
fun()

Inside function
15

In [ ]:
def sum(a,b):
   total = a + b
   return total

x = 10
y = 20

print("The sum of",x,"and",y,"is:",sum(x, y))

The sum of 10 and 20 is: 30

In [ ]:
# Python program to demonstrate
# default arguments
def myFun(x, y = 50):
	print("x: ", x)
	print("y: ", y)
	
# Driver code (We call myFun() with only
# argument)
myFun(10,20)

x:  10
y:  20